*{
    font-family: 'Rubik';
}
.header {
    background-color: #34495e;
    padding: 0px 0px;
}

.navbar {
    display: flex;
    /* background-color: red; */
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    gap: 110px;
}

.navbar-left {
    flex: 1;
    padding-left: 0px;
}

.navbar-brand {
    font-size: 31px;
    font-weight: bold;
    color: #ecf0f1;
    text-decoration: none;
    margin-left: 0px;
}

.navbar-center {
    flex: 2;
    display: flex;
    justify-content: center;
}

.search-bar {
    width: 100%;
    min-width: 600px;
    padding: 11px 11px ;
    font-size: 16px;
    border: 2px solid #2c3e50;
    outline: none;
    border-radius: 8px;
    background-color: #2c3e50;
    color: #ecf0f1;
    transition: border 0.5s ease;

}
.search-bar::placeholder{
    color: #a5a5a5;
}

    .search-bar:hover{
        border: 2px solid #acacac;
        outline: none;
    }

.navbar-right {
    flex: 1;
    display: flex;
    justify-content: center;
    /* gap: 15px; */
}

.nav-link {
    font-size: 16px;
    color: #2c3e50;
    text-decoration: none;
    padding: 10px 15px;
    border: 2px solid #ecf0f1;
    border-radius: 10px;
    background-color: #ecf0f1;
    outline: none;
    transition: all 0.3s ease;
}

.nav-link:hover {
    background-color: #2c3e50;
    color: #ecf0f1;
    border: 2px solid #2c3e50;
}