.messaging {
    position: relative;
    cursor: pointer;
}

.fas.fa-envelope {
    color: #ecf0f1;
    font-size: 20px;
}

.message-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #e74c3c;
    color: #fff;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 12px;
}